.reservations h2 {
    padding: 1.875rem 0 1.875rem 0;
    background-color: #495E57;
    color: #FFFFFF;
    text-align: center;
}

.reservations form {
    margin: 0 auto 1.875rem auto;
}

.reservations .check-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border: #495E57 solid 0.1rem;
    border-radius: 0.375rem;
    padding: 16px;
    background-color: #EDEFEE;
}

.label {
    font-weight: bold;
    text-decoration: underline;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.form-field p {
    font-size: 0.9375rem;
    color: red;
}

.reservations button:disabled,
.reservations button[disabled] {
    background-color: #EDEFEE;
    border-color: #EDEFEE;
    color: #ADAFAE;
    cursor: not-allowed;
}

.confirmed-reservation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 31.25rem;
    padding: 1.875rem 0 1.875rem 0;
    text-align: center;
}

.prev-reservations {
    margin-bottom: 4em;
}

.order {
    border: 0.05rem solid #495E57;
    background-color: #EDEFEE;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.order h3 {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    color: white;
    background-color: #495E57;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.order-details {
    display: flex;
    padding: 1rem 1.5rem;
}

.personal-details,
.reservation-details {
    flex: 1;
}

.personal-details {
    margin-right: 1rem;
    border-right: 0.1rem solid #495E57;
    padding-right: 1rem;
}

.reservation-details {
    padding-left: 1rem;
}

.order-details-item {
    margin-bottom: 1rem;
}

.order-details-item label {
    display: block;
    font-weight: bold;
    color: #495E57;
}

.order-details-item span {
    color: #495E57;
}

.order-details-heading {
    font-weight: bold;
    color: #495E57;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    border-bottom: 2px solid #495E57;
    padding-bottom: 0.25rem;
}

@media (max-width: 576px) {
    .order-details {
        flex-direction: column;
    }

    .personal-details,
    .reservation-details {
        margin-right: 0;
        border-right: none;
        padding-right: 0;
        padding-left: 0;
    }
}