.reservations h2 {
    padding: 1.875rem 0 1.875rem 0;
    background-color: #495E57;
    color: #FFFFFF;
    text-align: center;
}

.reservations form {
    margin: 0 auto 1.875rem auto;
}

.reservations .check-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border: #495E57 solid 0.1rem;
    border-radius: 0.375rem;
    padding: 16px;
    background-color: #EDEFEE;
}

.label {
    font-weight: bold;
    text-decoration: underline;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.form-field p {
    font-size: 0.9375rem;
    color: red;
}

.reservations button:disabled,
.reservations button[disabled] {
    background-color: #EDEFEE;
    border-color: #EDEFEE;
    color: #ADAFAE;
    cursor: not-allowed;
}

.confirmed-reservation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 31.25rem;
    padding: 1.875rem 0 1.875rem 0;
    text-align: center;
}

.prev-reservations {
    margin-bottom: 4em;
}

.order {
    border: 0.05rem solid #495E57;
    background-color: #EDEFEE;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

.order h3 {
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    color: white;
    background-color: #495E57;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.order-details {
    display: flex;
    padding: 1rem 1.5rem;
}

.order-details-column {
    flex: 1;
}

.order p {
    margin: 0.5rem 0;
    color: #495E57;
}

/* Media Query für kleine Bildschirme */
@media (max-width: 576px) {
    .order-details {
        flex-direction: column;
    }
}