.headline {
    background-color: #495E57;
    color: white;
}

.headline h2 {
    padding: 1.875rem 0 1.875rem 0;
    text-align: center;
}

.story {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin-bottom: 3rem;
}

.section-heading {
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.middle {
    background-color: #495E57;
    color: white;
}

.about-content {
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.about-text {
    flex: 0 0 60%;
    text-align: left;
}

.about-images {
    flex: 0 0 35%;
}

.about-images img {
    display: block;
    width: 100%;
}